<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455397468481-s80s41bnok3pkdbdgp6dfmvfd91svr6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455397468481-s80s41bnok3pkdbdgp6dfmvfd91svr6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBtJ5CrChekAlP9gBlAovr_ACiRjFZjSc4</string>
	<key>GCM_SENDER_ID</key>
	<string>455397468481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.folkex.grabapp</string>
	<key>PROJECT_ID</key>
	<string>grabapp-b08f0</string>
	<key>STORAGE_BUCKET</key>
	<string>grabapp-b08f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455397468481:ios:f0187d3ca30b0f656059c0</string>
</dict>
</plist>